name: Java maven Build, Test, Verify

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
    - name: Set up JDK 17
      uses: actions/setup-java@v4.5.0
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: s4u/setup-maven-action@v1.16.0
      with:
        maven-version: 3.9.9
    - name: Build with Maven
      run: mvn -B verify --file pom.xml
    - name: Upload Test Reports
      if:  always()
      uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
      with:
        name: Test-reports
        path: |
          **/surefire-reports/TEST-*.xml
